In [1]:
from randomuser import RandomUser
import pandas as pd

In [2]:
r = RandomUser()
some_list = r.generate_users(10)\

name = r.get_full_name()

In [3]:
for user in some_list:
    print (user.get_picture())

https://randomuser.me/api/portraits/women/59.jpg
https://randomuser.me/api/portraits/women/67.jpg
https://randomuser.me/api/portraits/men/92.jpg
https://randomuser.me/api/portraits/women/63.jpg
https://randomuser.me/api/portraits/men/16.jpg
https://randomuser.me/api/portraits/men/44.jpg
https://randomuser.me/api/portraits/men/53.jpg
https://randomuser.me/api/portraits/men/40.jpg
https://randomuser.me/api/portraits/men/66.jpg
https://randomuser.me/api/portraits/women/12.jpg

In [4]:
def get_users():
    users =[]
     
    for user in RandomUser.generate_users(10):
        users.append({"Name":user.get_full_name(),"Gender":user.get_gender(),"City":user.get_city(),"State":user.get_state(),"Email":user.get_email(), "DOB":user.get_dob(),"Picture":user.get_picture()})
      
    return pd.DataFrame(users) 

get_users()    
df1 = pd.DataFrame(get_users())

In [5]:
import requests
import json

data = requests.get("https://fruityvice.com/api/fruit/all")
results = json.loads(data.text)
df2 = pd.json_normalize(results)

In [6]:
cal_banana = df2.loc[df2["name"] == 'Banana']
cal_banana.iloc[0]['nutritions.calories']

96

In [7]:
data2 = requests.get("https://official-joke-api.appspot.com/jokes/ten")

In [8]:
results2 = json.loads(data2.text)

In [9]:
df3 = pd.DataFrame(results2)
df3.drop(columns=["type","id"],inplace=True)
df3

,setup,punchline
0,What do ghosts call their true love?,Their ghoul-friend
1,Why do pirates not know the alphabet?,"They always get stuck at ""C""."
2,Why are fish easy to weigh?,Because they have their own scales.
3,Why did the A go to the bathroom and come out ...,Because he had a vowel movement.
4,"A SQL query walks into a bar, walks up to two ...",'Can I join you?'
5,How does a French skeleton say hello?,Bone-jour.
6,What did the grape do when he got stepped on?,He let out a little wine.
7,Why did the octopus beat the shark in a fight?,Because it was well armed.
8,What musical instrument is found in the bathroom?,A tuba toothpaste.
9,How many seconds are in a year?,"12. January 2nd, February 2nd, March 2nd, Apri..."